* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    user-select: none;
    overflow-x: initial;
    box-sizing: border-box;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    width: 0px;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin: 0;
    line-height: initial;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none
}

.user_info {
    width: 75%;
    max-width: 1000px;
    display: grid;
    grid-template-areas: "img fio edit" " img mail exit";
    grid-template-columns: 1fr 5fr 1fr;
    grid-column-gap: 2vw;
    margin: 25px auto;
    /* border: 1px solid black; */
}

.user_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #596e79;
    color: #fff;
    grid-area: img;
}

.user_img p {
    position: relative;
    top: 50%;
    left: 36%;
    text-align: center;
    transform: translate(-36%, -50%);
    font-size: 50px;
}

.fio {
    grid-area: fio;
    margin-top: 33px;
    font-size: 30px;
}

.edit {
    margin: 20px 0 0 0;
    grid-area: edit;
    font-size: 14px;
    text-align: right;
    color: rgb(67, 67, 67);
    background: none;
    border: none;
}

.mail {
    grid-area: mail;
    color: rgb(67, 67, 67);
}

.exit {
    grid-area: exit;
    font-size: 14px;
    text-align: right;
    color: rgb(67, 67, 67);
    background: none;
    border: none;
}

.exit button {
    background: none;
    border: none;
}

.exit:hover {
    color: black;
}

.create {
    width: max-content;
    display: block;
    text-align: center;
    padding: 15px;
    border: 1px solid white;
    transition: .2s border linear;
    margin: 0 auto;
    border-radius: 5px;
}

.create:hover {
    border: 1px solid #596e79;
}

.problems {
    width: 75%;
    max-width: 1000px;
    min-height: 64.5vh;
    height: max-content;
    margin: 10px auto;
}

.problem {
    display: grid;
    grid-template-areas: "title status status" "description category date";
    grid-template-columns: 1fr 2fr;
    transition: .2s all;
    cursor: pointer;
    padding: 10px;
}

.problem:hover {
    z-index: 100;
    transform: translate(6px, 0px);
    box-shadow: -6px 0px 9px -2px rgba(34, 60, 80, 0.2);
}

.title {
    grid-area: title;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.status {
    grid-area: status;
    text-align: right;
    margin-right: 10px;
}

.description {
    grid-area: description;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 1.1;
}

.category {
    grid-area: category;
    text-align: right;
    margin-right: 10px;
}

.date {
    grid-area: date;
}

footer {
    position: absolute;
    bottom: 0%;
}

.info_menu {
    position: fixed;
    overflow: auto;
    z-index: 2;
    top: 0;
    right: -100%;
    width: max-content;
    max-width: 80vw;
    height: 100%;
    background: #596e79;
    transition: .5s right ease;
    padding: 5px;
    color: white;
}

.bg {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
    opacity: 0;
    transition: .3s opacity linear;
    visibility: hidden;
}

#info_menu,
#del,
#accept,
#reject {
    display: none;
}

#info_menu:checked ~ .info_menu {
    right: 0%;
}

#info_menu:checked ~ .bg {
    opacity: 1;
    visibility: inherit;
}

.images {
    width: 100%;
    max-height: 300px;
    height: 50vw;
}

.img {
    background: #596e79;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    text-align: center;
}

.img img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.after {
    /* background: rgb(201, 201, 201); */
    cursor: pointer;
    transition: .2s opacity;
    top: -100%;
}

.after:hover {
    opacity: 0;
}

.description_menu {
    margin-top: 10px;
    font-size: 16px;
    word-break: break-all;
}

.status_menu {
    margin-top: 15px;
}

.inform {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.date_menu {
    text-align: right;
}

.del_but {
    display: block;
    width: max-content;
    margin: 5px auto;
    font-size: 18px;
    color: rgb(140, 0, 0);
    padding: 5px 15px;
    border: 1px solid rgba(211, 0, 0, 0);
    transition: .3s border ease;
}

.del_but:hover {
    border: 1px solid rgb(140, 0, 0);
}

.del_window,
.accept_window,
.reject_window {
    background: #fff;
    transition: .2s opacity linear;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
}

.bg2,
.bg3,
.bg4 {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
    opacity: 0;
    transition: .3s opacity linear;
    visibility: hidden;
}

#del:checked ~ .bg2,
#accept:checked ~ .bg3,
#reject:checked ~ .bg4 {
    opacity: 1;
    visibility: inherit;
}

#del:checked ~ .del_window {
    opacity: 1;
    visibility: inherit;
}

#accept:checked ~ .accept_window {
    opacity: 1;
    visibility: inherit;
}

#reject:checked ~ .reject_window {
    opacity: 1;
    visibility: inherit;
}

.del_window a,
.del_window label,
.reject_window a,
.reject_window label {
    display: inline-table;
    width: max-content;
    height: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: .3s box-shadow ease;
}

.accept_window a,
.accept_window label {
    display: inline-table;
    margin-top: 10px;
    width: max-content;
    height: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: .3s box-shadow ease;
}

.del_window a:hover,
.del_window label:hover,
.accept_window a:hover,
.accept_window label:hover,
.reject_window a:hover,
.reject_window label:hover {
    box-shadow: 0px -4px 8px -1px rgba(34, 60, 80, 0.2) inset;
}

.status_but {
    margin: 10px 5px 0;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}

.status_but label, .status_but a {
    display: block;
    width: max-content;
    font-size: 18px;
    margin: 5px auto;
    color: #c7b198;
    padding: 5px 15px;
    border: 1px solid rgba(211, 0, 0, 0);
    transition: .3s border ease;
    font-weight: 700;
}

.status_but label:hover, .status_but a:hover {
    border: 1px solid #c7b198;
}

.accept_window .yes {
    color: rgb(0, 140, 0);
    border: 1px solid rgb(0, 140, 0);
}

.yes {
    color: rgb(140, 0, 0);
    border: 1px solid rgb(140, 0, 0);
}

.no {
    border: 1px solid rgb(131, 131, 131);
}

input[type="file"].file_input {
    visibility: hidden;
    position: relative;
    left: 39%;
    top: -100%;
}

#accept_form {
    height: 70px;
    overflow-y: hidden;
}

.form-group {
    height: 35px;
}

#file_name {
}

label.file_label {
    margin-top: 10px;
    cursor: pointer;
}

label.file_label:hover {
    box-shadow: 0px -4px 8px -1px rgba(0, 0, 0, 0) inset;
}

.filt {
    display: block;
    float: right;
    width: 150px;
    border-radius: 0px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    transition: .2s border-bottom ease;
    cursor: pointer;
    box-shadow: none;
}

.filt:focus,
.filt:hover {
    border-bottom: 1px solid #596e79;
}

textarea {
    font-size: 24px;
    width: 100%;
    height: 200px;
    transition: .2s border-bottom ease;
    text-align: center;
    resize: none;
    user-select: auto;
}

.comment div {
    display: grid;
    grid-template-columns: auto auto;
}

.comment h4 {
    text-align: left;
    font-size: 20px;
    margin: 0;
}

.comment h6 {
    text-align: right;
    margin: 5px 0 0 0;
    font-size: 14px;
}

.comment p {
    max-width: 300px;
    margin: 5px 0 0 0;
    font-size: 16px;
    word-wrap: break-word;
}

@media screen and (max-width: 767px) {
    .user_img {
        width: 75px;
        height: 75px;
    }

    .user_img p {
        font-size: 35px;
    }

    .fio {
        margin-top: 15px;
        font-size: 20px;
    }

    .edit {
        margin-top: 20px;
        font-size: 14px;
    }

    .exit {
        font-size: 14px;
    }
}

@media screen and (max-width: 499px) {
    .user_img {
        width: 10vw;
        height: 10vw;
    }

    .user_img p {
        font-size: 5vw;
    }

    .fio {
        margin-top: 0.3vw;
        font-size: 4vw;
    }

    .edit {
        margin-top: 1vw;
        font-size: 3vw;
    }

    .mail {
        font-size: 3.5vw;
    }

    .exit {
        font-size: 3vw;
    }

    .form-group {
        height: 15px;
    }

    .filt {
        width: 100px;
        font-size: 14px;
        height: max-content;
    }


    .title {
        font-size: 16px;
    }

    .status {
        margin-right: 10px;
        font-size: 16px;
    }

    .description {
        font-size: 14px;
    }

    .category {
        margin-right: 10px;
        font-size: 10px;
    }

    .date {
        font-size: 10px;
    }

    .description_menu {
        margin-top: 10px;
        font-size: 16px;
        word-break: break-all;
    }

    .status_menu {
        margin-top: 15px;
    }

    .inform {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .date_menu {
        text-align: right;
    }

    .title_menu {
        font-size: 4.5vw;
    }

    .description_menu {
        margin-top: 2vw;
        font-size: 3vw;
    }

    .status_menu {
        font-size: 4.5vw;
        margin-top: 2vw;
    }

    .inform {
        margin-top: 2vw;
        font-size: 3vw;
    }

    .date_menu {
        text-align: right;
    }

    .del_but {
        font-size: 3vw;
        margin: 3vw auto;
    }

    .status_but label, .status_but a {
        font-size: 3vw;
        margin: 1vw auto;
        padding: 1vw 3vw;
    }


    .comments hr {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }

    .comment h4 {
        font-size: 4vw;
        margin: 0;
    }

    .comment h6 {
        margin: 1vw 0 0 0;
        font-size: 3vw;
    }

    .comment p {
        margin: 1vw 0 0 0;
        font-size: 3vw;
    }
}