.header {
    border-radius: 0;
    background: #596e79;
}

.ul {
    float: right;
    display: flex;
    font-size: 18px;
}

.ul>li {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

.ul>li>a {
    padding: 0;
}

.ul>li>a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.home {
    font-size: 20px;
}

.header a {
    color: #fff;
}

.ul li a {
    margin-top: 12px;
    transition: .2s color;
}

.ul li a:hover {
    border-bottom: 1px solid #fff;
}

.nav>li>a:focus {
    background: none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
    border-color: #337ab7;
}